
*.class

.idea/.name

.idea/compiler.xml

.idea/encodings.xml

.idea/copyright/profiles_settings.xml

.idea/misc.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

.idea/uiDesigner.xml

.idea/modules.xml

Oberführer.iml

atlassian-ide-plugin.xml

out/production/Oberführer/bot/framework/quartz.properties

out/production/Oberführer/log4j.xml
